@media only screen and (max-width: 600px) {
    /*--------------botones inferiores----------------*/
    .bi {
      height: 15%;
    }
    /*--------------botones superiores----------------*/
    .bs {
      width: 35%;
      height: 30%;
        
    }
    /*--------------botones encendido----------------*/
    .be {
      height: 35%;
    }
  
  }

  @media only screen and (max-width: 415px){
    /*--------------parte lateral derecha del microondas----------------*/
    .microondas-lateral{
      width: 35%;
    
    }
    /*--------------contenedor del menu----------------*/
   .contenedor-menu{
    width: 100%;
        
    }

    /*--------------botones inferiores----------------*/
    .bi {
      height: 20%;
      width: 25%;
      
    }
    /*--------------botones superiores----------------*/
    .bs {
      width: 35%;
      height: 35%;
            
    }
    /*--------------botones encendido----------------*/
    .be {
      height: 60%;
      width: 45%;
      
    }
    /*-----------------boton giratorio-----------------*/
   .boton-redondo{
 
     width: 40%;
     height: 25%; 
     margin-top: 5px;
     margin-bottom: 5px;
  
    }
  
  }
  @media only screen and (max-width: 736px) and (orientation: landscape){
     /*--------------todo el microondas----------------*/
    .microondas{
      width: 630px;
      height: 310px;
    }
     /*--------------visor----------------*/
    .visor{
      height: 10%;
    }
     /*--------------contenedor de la marca----------------*/
    .marca{
      height: 10%;
      margin-bottom: 5px;
    }
    /*--------------parte lateral derecha del microondas----------------*/
    .microondas-lateral{
      width: 35%;
    
    }
    /*--------------contenedor del menu----------------*/
   .contenedor-menu{
    width: 100%;
        
    }

    /*--------------botones inferiores----------------*/
    .bi {
      height: 20%;
      width: 25%;
      margin: 2px;
      
    }
    /*--------------botones superiores----------------*/
    .bs {
      margin-top: 3px;
      width: 27%;
      height: 30%;
     margin: 2px;            
    }
    /*--------------botones encendido----------------*/
    .be {
      height: 60%;
      width: 35%;
      margin-left: 1px;
      margin-right: 1px;
      
    }
    /*-----------------boton giratorio-----------------*/
   .boton-redondo{
 
     width: 25%;
     height: 20%; 
     margin-top: 5px;
     margin-bottom: 5px;
  
    }
    /*-----------------panel izquierdo>tapa baja-----------------*/
   .tapa-baja{
  
     height: 10%;

    }
  
  }
